header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

#api_status {
    background-color: #cccccc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 7%;

    right: 30px;
    transform: translateY(-50%);
}

.available {
    background-color: #ff545f;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 35px;

    right: 30px;
    transform: translateY(-50%);
}